* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#myCanvas {
  padding: 0;
  margin: 0;
  background-image: url(img/level_contra.png);
  background-size: 690vw 100vh;
  width: 690vw;
  height: 97.6vh;
}