* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
#myCanvas {
  margin-left: 15%;
  margin-bottom: 2%;
}
.logo {
  height: 140px;
  width: 400px;
  margin-left: 35%;
}
